@model MyOwnSite_0._01.Models.Comment

@{
    ViewBag.Title = "EditComment";
}

<h2>EditComment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Comment</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CommentId)
        @Html.HiddenFor(model => model.PostId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.CreatedOn)

        @*<div class="form-group">
            @Html.LabelFor(model => model.PostId, "PostId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PostId", String.Empty)
                @Html.ValidationMessageFor(model => model.PostId)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
